.header {
  display: flex;
  width: 100%;
justify-content: space-between;
}

h1 {
position: relative;
left: 44%;
color: antiquewhite;
text-shadow: 1px 1px rosybrown;
}

.units {
  left: 47%;
}

.navbar {
  width: 150px;
  margin-right: 30px;
  display: flex;
  position: top right;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn {
  height: 50%;
  border-radius: 20px;

}