* {
  box-sizing: border-box;
}

html {
  font-family:Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-image: url(./images/566846.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

